<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} @bertez </title>
  <link rel="stylesheet" href="/css/syntax.css" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <header>
      <h1>@bertez</h1>
    <header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    {{ content }}

    <footer>
      @bertez — 2014
    </footer>

  </div>
</body>
</html>